<div class="container mt-4">
  <div class="p-4 border rounded">
    <h2 class="mb-4">Project Tracking</h2>
    <div class="row">
      <% if defined?(@supplier_a_progress) %>
      <div class="col">
        <h3>Supplier A</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            <% if @supplier_a_progress.any? %>
              <% @supplier_a_progress.each do |progress| %>
                <tr>
                  <td><%= progress[:date] %></td>
                  <td><%= progress[:progress] %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">No progress</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <div class="col">
        <h3>Supplier A</h3>
        <p>No progress</p>
      </div>
      <% end %>

      <% if defined?(@supplier_b_progress) %>
      <div class="col">
        <h3>Supplier B</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            <% if @supplier_b_progress.any? %>
              <% @supplier_b_progress.each do |progress| %>
                <tr>
                  <td><%= progress[:date] %></td>
                  <td><%= progress[:progress] %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">No progress</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <div class="col">
        <h3>Supplier B</h3>
        <p>No progress</p>
      </div>
      <% end %>

      <% if defined?(@supplier_c_progress) %>
      <div class="col">
        <h3>Supplier C</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            <% if @supplier_c_progress.any? %>
              <% @supplier_c_progress.each do |progress| %>
                <tr>
                  <td><%= progress[:date] %></td>
                  <td><%= progress[:progress] %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">No progress</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
      <div class="col">
        <h3>Supplier C</h3>
        <p>No progress</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
